<div class="bs-example">
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <div class="carousel-inner">
      <div class="active item">
        <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcROLyMW1ZioojsJprU1x9rp1hBJGY2x62Kvo3iX5ty5kaE2M6bY">
      </div>
      <div class="item">
        <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcQuO0MSqW-7TOFPEgN7UeSjIRYL3X-q0yqRtWhL_J8lCSscUVf0">
      </div>
      <div class="item">
        <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl">
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>
<div class="main">
  <div class="two-column1">
    <p>Hot</p>
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="two-column2">
  <div class="three-column"><p>News
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
    </ul>
  </p>
  </div>
  <div class="three-column"><p>Learn</p>
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
    </ul>

  </div>
  <div class="three-column"><p>Events</p>
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
      <li>
        <div class="thumbnail">
          <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSnFlVH9MoBUUT6w3Xq-F7yEuJnXitucD2eILfyievOVDnUN0Zl" alt="">
          <h3>Thumbnail label</h3>
          <p>Thumbnail caption Thumbnail caption
            Thumbnail caption......</p>
        </div>
      </li>
    </ul>
  </div>
  </div>
</div>