<h1>
  <%= link_to @klass.name, manage_klass_path(@klass) %>
  »
  Lectures
</h1>
<hr>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>     
    </tr>
  </thead>
  <tbody>
<% @klass.lectures.each_with_index do |lecture, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= lecture.name %></td>
    </tr>
<% end %>
  </tbody>
</table>
