<h1>All Students</h1>
<hr>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Class</th>
      <th>Actions</th>
    </tr> 
  </thead>
  <tbody>
<% @students.each do |student| %>
    <tr>
      <td><%= link_to student.name, manage_person_path(student) %></td>
      <td><%= student.has_email? ? student.email : "no email" %></td>
      <td><%= student.has_phone? ? student.phone : "no phone number" %></td>
      <td>
<%   student.klasses.each do |klass| %>
        <%= link_to klass.name, manage_klass_path(klass) %>
<%   end %>
      </td>
      <td><%= link_to "edit", edit_manage_person_path(student) %></td>
    </tr>
<% end %>
  </tbody>
</table>
