<h1>Add new student to class</h1>
<hr>
<%= render "shared/error", object: @student %>
<%= form_for @student, url: manage_students_path, html: {role: "form"} do |f| %>
  <h3>Basic Info</h3>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "full name" %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "email address" %>
  <%= f.label :phone %>
  <%= f.text_field :phone, placeholder: "phone number" %>
  <br>
  This person is a student <%= f.check_box :type, {checked: true,
    disabled: true}, Student.name, "" %>
<div class="form-group">
  <h3>Note (for person)</h3>
    <%= f.text_area :note, rows: 3, class: "form-control" %>
  </div>

<% if @klass %>
<hr>
<div class="form-group">
  <h3>Class</h3>
  This person belongs to class <strong><%= @klass.name %></strong>
  <%= f.fields_for :student_klasses, @student.student_klasses.new do |s| %>
    <%= s.hidden_field :klass_id, value: @klass.id %>
    <%= hidden_field_tag :klass_id, @klass.id %>
  <% end %>
</div>
<hr>
<% end %>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
