<%= form_for [:manage, klass], html: {role: "form"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "class name" %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date, placeholder: "class name" %>
  <%= f.label :end_date %>
  <%= f.date_field :end_date, placeholder: "class name" %>
  <%= f.label :status %>
  <%= f.select :status, [Settings.klass.status.open, Settings.klass.status.on_going,
    Settings.klass.status.finish], selected: klass.status %>
  <br>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
