<h1>All Classes</h1>
<hr>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>   
      <th>Number of students</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
<% @klasses.each_with_index do |klass, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to klass.name, manage_klass_path(klass) %></td>
      <td><%= l klass.start_date, format: :date if klass.start_date %></td>
      <td><%= l klass.end_date, format: :date if klass.end_date %></td>
      <td><%= klass.students.count %></td>
      <td><%= klass.status %></td>
    </tr>
<% end %>
  </tbody>
</table>
