<h1><%= @klass.name %></h1>
<hr>
<p>
<%= link_to "Manage Lectures", manage_klass_lectures_path(@klass) %>
/
<%= link_to "Edit class info", edit_manage_klass_path(@klass) %>
/
<%= link_to "Add or Remove students from class", manage_klass_student_klasses_path(@klass) %>
</p>
<p>
  <strong>Start date:</strong> <%= @klass.start_date ? l(@klass.start_date, format: :date) : "N/A" %>
  <br>
  <strong>End date:</strong> <%= @klass.end_date ? l(@klass.end_date, format: :date) : "N/A" %>
  <br>
  <strong>Number of students:</strong> <%= @klass.students.count %>
  <br>
  <strong>Status:</strong> <%= @klass.status %>
</p>
<hr>
<h3>Lectures</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>     
    </tr>
  </thead>
  <tbody>
<% @klass.lectures.each_with_index do |lecture, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= lecture.name %></td>
    </tr>
<% end %>
  </tbody>
</table>
<hr>
<h3>Students</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>     
    </tr>
  </thead>
  <tbody>
<% @klass.students.each_with_index do |student, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to student.name, manage_person_path(student) %></td>
      <td><%= student.has_email? ? student.email : "no email" %></td>
      <td><%= student.has_phone? ? student.phone : "no phone number" %></td>
    </tr>
<% end %>
  </tbody>
</table>
<hr>
