<div class="form-group">
  <h3>Basic Info</h3>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "full name" %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "email address" %>
  <%= f.label :phone %>
  <%= f.text_field :phone, placeholder: "phone number" %>
  <br>
  This person is a student <%= f.check_box :type, {disabled: f.object.is_student?},
    Student.name, "" %>
</div>

<div class="form-group">
  <h3>Note (for person)</h3>
  <%= f.text_area :note, rows: 3, class: "form-control" %>
</div>

<hr>

<% if @campaign %>
<div class="form-group">
  <h3>Campaign</h3>
  <%= hidden_field_tag :campaign_id, @campaign.id %>
  <%= f.label :campaign_id, "This person appeared in campaign:" %>
  <strong><%= @campaign.name %></strong>
  <%= f.fields_for :campaign_people, @campaign_person do |c| %>
    <h3>Available days</h3>
    <div class="checkbox">
      <%= c.collection_check_boxes :m_day_ids, M::Day.all, :id, :name %>
    </div>
    <h3>Note (for campaign)</h3>
    <%= c.text_area :note, rows: 3, class: "form-control" %>
    <p>
      Is contacted?
      <%= c.check_box :is_contacted, {}, true, false %>
    </p>
    <%= c.hidden_field :campaign_id, value: @campaign.id %>
  <% end %>
</div>
<% end %>

<div class="form-group">
  <%= f.submit "Submit", class: "btn btn-default" %>
</div>
