<h1>Edit Person Info</h1>
<hr>

<%= render "shared/error", object: @person %>

<%= form_for @person, as: :person, url: manage_person_path, html: {role: "form",
  method: :put} do |f| %>
  <%= render "form", f: f %>
<% end %>
