<h1>People List</h1>
<hr>
<p>
  There are total <%= @all_people.count %> people, in which 
  <%= @all_people.select{|p| p.is_student?}.count %> are students,
  <%= @all_people.select{|p| p.has_email?}.count %> have emails and
  <%= @all_people.select{|p| p.has_phone?}.count %> have phone numbers,
</p>
<%= search_form_for @q, url: manage_people_path,
  html: {class:"form-inline", role: "form"} do |f| %>
  <%= f.text_field :name_or_email_or_phone_cont, placeholder: "enter name or email or phone" %>
  <%= f.submit "Search", class: "btn btn-default" %>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Campaign</th>
      <th>Actions</th>
    </tr> 
  </thead>
  <tbody>
<% @people.each do |person| %>
    <tr <%= person.type == Student.name ? "class=info" : "" %>>
      <td><%= link_to person.name, manage_person_path(person) %></td>
      <td><%= person.has_email? ? person.email : "no email" %></td>
      <td><%= person.phone %></td>
      <td>
        <%= render "campaigns", person: person %>
      </td>
      <td><%= link_to "edit", edit_manage_person_path(person) %></td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @people %>
