<h1><%= @person.name %></h1>
<p>
  <%= link_to "Edit this person info", edit_manage_person_path(@person) %>
</p>
<hr>
<h3> Basic Info</h3>
<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td style="width: 120px">Gender</td>
      <td><%= @person.gender %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @person.email || "no email" %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%= @person.phone || "no phone number" %></td>
    </tr>
    <tr>
      <td>Is student?</td>
      <td><%= @person.is_student? ? "Yes" : "Not yet" %></td>
    </tr>
    <tr>
      <td>Campaign</td>
      <td>
        <%= render "campaigns", person: @person %>
      </td>
    </tr> 
    <tr>
      <td>Note</td>
      <td><%= @person.note.html_safe if @person.note %></td>
    </tr>
  </tbody>
</table>

<% if @person.campaign_people %>
<%   @person.campaign_people.each do |camp_person| %>
<hr>
<h3>Campaign: <%= link_to camp_person.campaign.name, manage_campaign_path(camp_person.campaign) %></h3>
<table class="table table-bordered table-hover">
  <tr>
    <td>Date</td>
    <td><%= l camp_person.campaign.date, format: :date %></td>
  </tr>
  <tr>
    <td style="width: 120px">Available days</td>
    <td>
<% @days.each do |day| %>
<%   if camp_person.m_days.include? day %>
      <strong><%= day.short_name_vi %></strong>
<%   else %>
      <span class="blur"><%= day.short_name_vi %></span>
<%   end %>
<% end %>
    </td>
  </tr>
  <tr>
    <td>Is contacted?</td> 
    <td>
<% if camp_person.is_contacted %>
      <%= link_to '<i class="fa fa-check-circle-o fa-3"></i>'.html_safe,
        manage_camp_person_path(camp_person, is_contacted: false), method: :patch %>
<% else %>
      <%= link_to '<i class="fa fa-circle-o fa-3"></i>'.html_safe,
        manage_camp_person_path(camp_person, is_contacted: true), method: :patch %>
<% end %>
    </td>
  </tr>
  <tr>
    <td>Note</td>
    <td><%= camp_person.note %></td>
  </tr>
</table>
<%   end %>
<% end %>

<% if @person.is_student? && @person.klasses %>
<%   @person.klasses.each do |klass| %>
<hr>
<h3>Class: <%= link_to klass.name, manage_klass_path(klass) %></h3>
<table class="table table-bordered table-hover">
  <tr>
    <td style="width: 120px">Start date</td>
    <td><%= klass.start_date ? l(klass.start_date, format: :date) : "n/a" %></td>
  </tr>
  <tr>
    <td>End date</td>
    <td><%= klass.end_date ? l(klass.end_date, format: :date) : "n/a" %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= klass.status %></td>
  </tr>
</table>
<%   end %>
<% end %>
