<h1>
  <%= link_to @klass.name, manage_klass_path(@klass) %>
  »
  Students
</h1>
<hr>
<h3>Students List</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
<% @student_klasses.each_with_index do |sk, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to sk.student.name, manage_person_path(sk.student_id) %></td>
      <td><%= sk.student.has_email? ? sk.student.email : "no email" %></td>
      <td><%= sk.student.has_phone? ? sk.student.phone : "no phone number" %></td>
      <td><%= link_to "Remove from Class", manage_klass_student_klass_path(@klass, sk), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
<% end %>
  </tbody>
</table>
<hr>
<h3>Add student to class</h3>
<p>Find student from database to add</p>
<%= search_form_for @q, url: manage_klass_student_klasses_path,
  html: {class:"form-inline", role: "form"} do |f| %>
  <%= f.text_field :name_or_email_or_phone_cont, placeholder: "enter name or email or phone" %>
  <%= f.submit "Search", class: "btn btn-default" %>
  &#160;&#160;&#160;&#160;&#160;or&#160;&#160;&#160;&#160;&#160;
  <%= link_to "Add new student", new_manage_klass_student_path(@klass.id),
    method: :get, class: "btn btn-default" %>
<% end %>

<% unless @people.empty? %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Campaign</th>
      <th>Available Days</th>
      <th>Actions</th>
    </tr> 
  </thead>
  <tbody>
<% @people.each do |person| %>
    <tr <%= person.type == Student.name ? "class=info" : "" %>>
      <td><%= link_to person.name, manage_person_path(person) %></td>
      <td><%= person.has_email? ? person.email : "no email" %></td>
      <td><%= person.phone %></td>
      <td><%= person.campaign ? person.campaign.name : "no campaign" %></td>
      <td>
      </td>
      <td>
        <%= form_for StudentKlass.new, url: manage_klass_student_klasses_path do |f| %>
          <%= f.hidden_field :klass_id, value: @klass.id %>
          <%= f.hidden_field :student_id, value: person.id %>
          <%= f.submit "Add to class" %>
        <% end %>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>
