<%= form_for [:manage, campaign], html: {role: "form"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "campaign name" %>
  <%= f.label :location %>
  <%= f.text_field :location, placeholder: "location" %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 3, class: "form-control" %>
  <%= f.label :staff_id, "Choose staffs" %>
  <%= f.collection_select :staff_ids, Staff.all, :id, :name, {},
    multiple: true %>
  <br>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>