<h1>All Campaigns</h1>
<hr>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>No. of People</th>
      <th>Action</th>
    </tr> 
  </thead>
  <tbody>
<% @campaigns.each do |campaign| %>
    <tr>
      <td><%= link_to campaign.name, manage_campaign_path(campaign) %></td>
      <td><%= l campaign.date, format: :date %></td>
      <td><%= campaign.people.count %></td>
      <td><%= link_to "edit", edit_manage_campaign_path(campaign) %></td>
    </tr>
<% end %>
  </tbody>
</table>
