<h1><%= @campaign.name %></h1>
<hr>
Location: <%= @campaign.location %>
<br>
Date: <%= l @campaign.date, format: :date %>
<br>
Staffs:
<ul class="list-inline">
<% @campaign.staffs.each do |staff| %>
  <li><%= staff.name %></li>
<% end %>
</ul>
Description: <%= @campaign.description.html_safe if @campaign.description %>
<hr>
<p>Number of people who available on each day</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
<% @days.each do |day| %>
      <th><%= day.name %></th>
<% end %>      
    </tr>
  </thead>
  <tbody>
    <tr>
<% @days.each do |day| %>
      <td>
        <%= @campaign.campaign_people.select{|p| p.m_days.include? day}.count %>
      </td>
<% end %>
    </tr>
  </tbody>
</table>
<hr>
<h3>People List</h3>
<p>Find people from database to add</p>
<%= search_form_for @q, url: manage_campaign_path(@campaign),
  html: {class:"form-inline", role: "form"} do |f| %>
  <%= f.text_field :name_or_email_or_phone_cont, placeholder: "enter name or email or phone" %>
  <%= f.submit "Search", class: "btn btn-default" %>
  &#160;&#160;&#160;&#160;&#160;or&#160;&#160;&#160;&#160;&#160;
  <%= link_to "Add new person", new_manage_campaign_person_path(@campaign),
    class: "btn btn-default" %>
<% end %>
<p>
  There are total <%= @campaign.people.count %> people who joined the campaign,
  <%= @campaign.people.select{|p| p.is_student?}.count %> became student.
</p>

<% unless @people.empty? %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr> 
  </thead>
  <tbody>
<% @people.each do |person| %>
    <tr <%= person.type == Student.name ? "class=info" : "" %>>
      <td><%= link_to person.name, manage_person_path(person) %></td>
      <td><%= person.has_email? ? person.email : "no email" %></td>
      <td><%= person.phone %></td>
      <td>
        <%= form_for CampaignPerson.new, url: manage_camp_people_path do |f| %>
          <%= f.hidden_field :campaign_id, value: @campaign.id %>
          <%= f.hidden_field :person_id, value: person.id %>
          <%= f.submit "Add to campaign" %>
        <% end %>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Available Days</th>
      <th>Contact?</th>
      <th>Note</th>
      <th>Action</th>
    </tr> 
  </thead>
  <tbody>
<% @campaign.campaign_people.each_with_index do |camp_person, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to camp_person.person.name, manage_person_path(camp_person.person) %></td>
      <td><%= camp_person.person.email %></td>
      <td><%= camp_person.person.phone %></td>
      <td>
<% @days.each do |day| %>
<%   if camp_person.m_days.include?(day) %>
        <strong><%= day.short_name_vi %></strong>
<%   else %>
        <span class="blur"><%= day.short_name_vi %></span>
<%   end %>
<% end %>
      </td>
      <td style="text-align: center">
<% if camp_person.is_contacted %>
<%= link_to '<i class="fa fa-check-circle-o fa-3"></i>'.html_safe,
  manage_camp_person_path(camp_person, is_contacted: false), method: :patch %>
<% else %>
<%= link_to '<i class="fa fa-circle-o fa-3"></i>'.html_safe,
  manage_camp_person_path(camp_person, is_contacted: true), method: :patch %>
<% end %>
      </td>
      <td><%= camp_person.note %></td>
      <td style="text-align: center">
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe,
          edit_manage_campaign_person_path(@campaign, camp_person.person),
          title: "edit info of this person on the campaign" %>
        <%= link_to '<i class="fa fa-times-circle-o"></i>'.html_safe,
          manage_camp_person_path(camp_person),
          title: "remove this person from campaign",
          method: :delete,
          data: {confirm: "This person will be removed from the campaign. Please click OK to confirm"} %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<hr>
