<h1>Edit Staff Info</h1>
<hr>
<%= form_for @staff, as: :staff, url: manage_staff_path, html: {role: "form", method: :put} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "staff name" %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "staff email" %>
  <%= f.label :type, "Role" %>
  <%= f.select :type, [Staff::General.name, Staff::Admin.name, Staff::Teacher.name,
    Staff::Sale.name], selected: @staff.type %>
  <br>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
