<h1>All Staffs</h1>
<hr>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
<% @staffs.each_with_index do |staff, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to staff.name, "#" %></td>
      <td><%= staff.type %></td>
      <td><%= link_to "edit", edit_manage_staff_path(staff) %></td>
    </tr>
<% end %>
  </tbody>
</table>
