<h1>Add New Staff</h1>
<hr>
<%= form_for Staff.new, as: :staff, url: manage_staffs_path, html: {role: "form", method: :post} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "staff name" %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "staff email" %>
  <%= f.label :type, "Role" %>
  <%= f.select :type, [Staff::General.name, Staff::Teacher.name, Staff::Sale.name] %>
  <br>
  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>