img{
  width: 100%;
  height: 100%;
}
.item{
    text-align: center;
    height: 400px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.main{
  margin: 100px auto;
  width: 80%;
}
.carousel-indicators{
  margin: 350px auto;
}
.carousel-control{
  margin: 170px auto;
  background: none;
  border: 0;
}
.two-column1{
  background-color: #E1F8F8;
  display: inline-block;
  width: 30%;
  float: left;
  border: 20px;
  margin-right: 5%;
}
.two-column2{
  display: inline-block;
  width: 65%;
  margin: auto;
  border: 20px;
}
.three-column{
  display: inline-block;
  width: 32%;
  height: 100%;
  border: 1;
  background-color: #EFF8F8;
}
.footer{
  /*position: absolute;        */
  background-color: #993333;
  bottom: 200px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 100px;
  padding-top: 70px;

}